/* Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

.hide {
  display: none;
}

body {
  height: 100vh;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: darkorange;
  padding-top: 20px;
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Title Style */
.title {
  font-size: 20px;
  font-weight: 600;
}

/* Headline Style */
.headline {
  font-size: 15px;
  font-weight: 400;
}

/* Body Style */
.body-text {
  font-size: 15px;
  font-weight: 400;
}

.questRow {
  max-width: fit-content;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.inquiry_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0px auto;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid orange;
  border-radius: 50%;
  outline: none;
  background-color: white;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-color: orange;
}

form {
  width: 24%;
}

.btn-primary {
  width: 100%;
  border: none;
  background: orange;
  margin-bottom: 1%;
}

.course {
  width: 25%;
  margin: 5% auto;
  gap: 100px;
  text-align: center;
}

.about {
  margin: 50px auto;
  width: 50%;
  text-align: center;
  gap: 50px;
}

.textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.textarea label {
  font-weight: bold;
}

.courseContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input:user-invalid {
  border: 2px solid red;
}

input:user-valid {
  border-color: green;
}

td > a {
  margin-left: 20px;
}
